{% extends 'AppColegio/padre.html' %}
{% load static %}

{% block head %}
   <title>CodePen - Fixed table header</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
   <link rel="stylesheet" href="{% static 'AppColegio/csss/style.css' %}">
{% endblock head %}

{% block body %}
    <h1>En esta sección puedes encontrar la lista de clientes</h1>

{% endblock body %}

{% block colegio %}
<a href="{% url 'AgregarEntregables' %}">Añadir nuevo Entregable</a>
<!-- partial:index.partial.html -->
<section> 
  <!--for demo wrap-->
  <h1>Lista de Entregables</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>N°</th>
          <th>Nombre del servicio</th>
          <th>Cliente</th>
          <th>fecha_de_entrega</th>
          <th>Entregado</th>
          <th>Evidencias</th>
          <th>Editar</th>
          <th>Eliminar</th>
          
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        {% if entregas %}
        {% for entre in entregas %}
        <tr>
          <td>{{entre.id}}</td>
          <td>{{entre.nombreservicio}}</td>
          <td>{{entre.cliente}}</td>
          <td>{{entre.fecha_de_entrega}}</td>
          <td>{{entre.entregado}}</td>
          <td><a href="{{entre.imagen.url}}" style="color:black">evidencia</a></td>
          <td><button  style="background-color: orange;">
            <a href="{% url 'Editarentregables' entre.id %}" style="color:black">EDITAR</a>
          </button></td>
          <td><button  style="background-color: orange;">
            <a href="{% url 'EliminarEntregables' entre.id %}" style="color:black">ELIMINAR</a>
          </button></td>
        </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>
</section>


<!-- follow me template -->
<!-- partial -->
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="{% static 'AppColegio/js/script.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'AppColegio/lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'AppColegio/lib/waypoints/waypoints.min.js' %}"></script>
  <script src="{% static 'AppColegio/lib/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'AppColegio/lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'AppColegio/lib/isotope/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'AppColegio/lib/lightbox/js/lightbox.min.js' %}"></script>
 
  <!-- Contact Javascript File -->
  <script src="{% static 'AppColegio/mail/jqBootstrapValidation.min.js' %}"></script>
  <script src="{% static 'AppColegio/mail/contact.js' %}"></script>
 
  <!-- Template Javascript -->
  <script src="{% static 'AppColegio/js/main.js' %}"></script>
</body>
</html>



{% endblock %}